h1 { 
    margin-left: 10%;
}

#icon {
    color: white; 
}

.loading-div { 
    margin-top: 3%;
    text-align: center;
    font-size: 3rem;
}

.up, .down, .delete, .edit {
    cursor: pointer;
}

#workout-exercises-div-add-exercise {
    width: 100%; 
    height: 10vh; 
}

.add-exercise-form-container{
    width: 60%;
    padding: 2%; 
    margin-left: auto; 
    margin-right: auto;
}   

.brand-sm {
    display: none;
}

.error-span {
    color: red; 
}

.login-register-form{
    display: grid;
    grid-auto-columns: 5px;
    width: 40%; 
    margin-left: auto; 
    margin-right: auto;
    margin-top: 10%;
}


@media screen and (max-width: 600px){
    .brand-sm {
        display: inline-block; 
        margin-right: auto;
    }   
    .brand-lg {
        display: none;
    }
}



