* {
    box-sizing: border-box;
}

h1 { 
    margin-left: 10%;
}

#icon {
    color: white; 
}

.loading-div { 
    margin-top: 3%;
    text-align: center;
    font-size: 3rem;
}

.up, .down, .delete, .edit {
    cursor: pointer;
}

#workout-exercises-div-add-exercise {
    width: 100%; 
    height: 10vh; 
}

.add-exercise-form-container{
    width: 60%;
    padding: 2%; 
    margin-left: auto; 
    margin-right: auto;
}   

.brand-sm {
    display: none;
}

.error-span {
    color: red; 
}

.login-register-form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 3px;
    padding: 5%;
    width: 40%;
    margin-left: auto; 
    margin-right: auto;  
    margin-top: 10%;
    border-radius: 1%;
}

.index-table{
    margin-top: 5%;
}

.background {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh; 
}

.index-img {
    background-image: url('./index_bg.jfif');
}

.login-img {
    background-image: url('./login_bg.jfif');
}

.register-img {
    background-image: url('./register_bg.jfif');
}

.workouts-img {
    background-image: url('./workouts_bg.jfif');
}

.workout-img {
    background-image: url('./workout_bg.jfif');
}

.add-workout-img {
    background-image: url('./add_workout_bg.jfif');
}

.add-workout-day-img {
    background-image: url('./add_workout_day_bg.jfif');
}

.day-img {
    background-image: url('./day_bg.jfif');
}

.add-exercise-img {
    background-image: url('./add_exercise_bg.jfif');
}

.description-img {
    background-image: url('./description_bg.jfif');
}

.add_day_field_label {
    min-width: 100px;
}

.change-workout-name-form {
    margin-left: 30%;
    margin-top: 3%;
}

@media screen and (max-width: 800px){
    .brand-sm {
        display: inline-block; 
        margin-right: auto;
    }   
    
    .brand-lg {
        display: none;
    }
    .login-register-form {
        width: 80%;
    }
}


@media screen and (max-width: 395px){
    .brand-sm {
        display: inline-block; 
        margin-right: auto;
    }   
    
    .brand-lg {
        display: none;
    }
    .login-register-form {
        width: 100%;
    }
}


