nav {
    width: 100vw; 
    height: 5vh; 
    background-color: blue;
    color: red; 
}

#icon {
    color: white; 
}

.loading-div { 
    color: green; 
    font-size: 3rem;
}

.up, .down, .delete, .edit {
    cursor: pointer;
}

#workout-exercises-div-add-exercise {
    width: 100%; 
    height: 10vh; 
}