{% extends 'base.html' %}

{% block title %}Add Workout{% endblock %}

{% block header %} Add Workout {% endblock %}

{% block main %}
<div class='add-workout-img background'>
    <br /> 

    <form method='POST' class='login-register-form bg-light'>
        <br />
        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' %}
        <span>
            {{ field.label }}
            {{ field }}
        </span>


        <small>
            <span class='error-span'>
                {% for error in field.errors %}
                {{ error }}
                {% endfor %}
            </span>

        </small>
        {% endfor %}
        <span>
            <input type='submit' value='Add Workout' class='btn btn-light' />
        </span>

    </form>
</div>
{% endblock %}