{% extends 'base.html' %} 

{% block title %}Register{% endblock %}

{% block header %} Register {% endblock %}

{% block main %}
    <form method='POST' class='login-register-form'>
        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' %} 
            <span>
                {{ field.label }} 
                {{ field }}
            </span>


            <small>
                <span class='error-span'>
                    {% for error in field.errors %} 
                        {{ error }}
                    {% endfor %}
                </span>
            </small>
        {% endfor %}

        <span>
            <input type='submit' value='register' class='btn btn-light' />
        </span>
    </form>
{% endblock %}