{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block header %} Register {% endblock %}

{% block main %}
<div class='register-img background'>
    <br />
    <form method='POST' class='login-register-form bg-light'>
        <h2>Register</h2> <br />
        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' %}
            {{ field.label }}
            {{ field }}


            {% for error in field.errors %}
                <br />
                <small class='error-span'>
                        {{ error }}
                  </small>
            {% endfor %}
        </span>
        {% endfor %}

        <span>
            <input type='submit' value='Register' class='btn btn-secondary' />
        </span>
    </form>
</div>
{% endblock %}